$key-default: white;
$key-default-dark: gray;
$key-notpresent: gray;
$key-notpresent-dark: black;
$key-present: #f1d453;
$key-present-dark: #b59f3b;
$key-correct: #6fb968;
$key-correct-dark: #538d4e;

.Light,
.Dark {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid gray;
	border-radius: 10%;

	width: 6vw;
	height: 7vw;
	max-width: 60px;
	max-height: 70px;
	margin: 2px;

	font-size: 3vw;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

	cursor: pointer;
	&__Default {
		@extend .Light;
		background-color: $key-default;
	}
	&__NotPresent {
		@extend .Light;
		color: white;
		background-color: $key-notpresent;
	}
	&__Present {
		@extend .Light__NotPresent;
		background-color: $key-present;
	}
	&__Correct {
		@extend .Light__NotPresent;
		background-color: $key-correct;
	}
}

.Dark {
	&__Default {
		background-color: $key-default-dark;
	}
	&__NotPresent {
		background-color: $key-notpresent-dark;
	}
	&__Present {
		background-color: $key-present-dark;
	}
	&__Correct {
		background-color: $key-correct-dark;
	}
}
